{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <h2 class="fw-bold mb-4">Gestion des catégories</h2>

    <!-- FORMULAIRE -->
    <div class="card p-4 shadow-sm mb-4">
        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Nom de la catégorie</label>
                {{ form.nom }}
            </div>

            <button type="submit" class="btn btn-success">
                Ajouter catégorie
            </button>
        </form>
    </div>

    <!-- LISTE DES CATEGORIES -->
    <div class="card p-4 shadow-sm">
        <h5 class="fw-bold mb-3">Catégories existantes</h5>

        {% for categorie in categories %}
            <div class="d-flex justify-content-between align-items-center border rounded-3 p-3 mb-2">

                <span class="fw-semibold">
                    {{ categorie.nom }}
                </span>

                <a href="{% url 'supprimer_categorie' categorie.id %}" 
                   class="btn btn-sm btn-danger"
                   onclick="return confirm('Supprimer cette catégorie ?')">
                    Supprimer
                </a>

            </div>
        {% empty %}
            <p class="text-muted">Aucune catégorie pour le moment.</p>
        {% endfor %}

    </div>

</div>

{% endblock %}